/* Atur body dan html agar tinggi halaman penuh */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Latar belakang */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Tempatkan di belakang semua elemen */
    overflow: hidden; /* Pastikan gambar tidak meluber */
}

/* Container untuk konten */
.container {
    position: relative; /* Supaya konten tidak bergerak */
    z-index: 1; /* Pastikan berada di depan background */
    padding-top: 60px; /* Sesuaikan padding atas sesuai tinggi navbar */
}

.navbar {
    position: fixed; /* Fixed supaya tetap di atas saat scroll */
    width: 100%;
    z-index: 1000; /* Z-index tinggi agar selalu di atas */
    top: 0;
}